body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

#heading {
    text-align: center;
    font-size: 5em;
    text-transform: capitalize;
    color: rgba(16, 3, 37, 0.671);
}

#input-field {
    font-size: 1.5rem;
    margin-top: 10em;
}

#button {
    font-size: 1.5em;
    color: rgb(2, 2, 24);
}

ul {
    border-bottom: 2px solid;
    padding-bottom: 1.5rem;
}

#list-tittle {
    margin-top: 5em;
    /* margin-right: 0; */
    font-weight: 700;
    color: black;
    text-align: center;
}

ul li {
    display: block;
    font-size: 2em;
    list-style: none;
    color: rgb(2, 39, 70);
    font-weight: 700;
}